*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    align-items: center;
}