*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    align-items: center;
}

.site-navigation {

}

.site-navigation a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 45px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.site-navigation a:focus,
.site-navigation a:hover {
    color: #009eb2;
}

.introduction {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/5.jpg) center no-repeat;
    background-size: cover;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 68px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 900px;
    margin: 0;
}

.main-title span {
    font-weight: 200;
    max-width: 570px;
}

.main-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    max-width: 560px;
    margin-bottom: 65px;
}

.main-description::before {
    margin-bottom: 20px;
    display: block;
    content: "";
    height: 6px;
    border-radius: 1px;
    background-color: #5c5c70;
    width: 77px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 40px;
    border-radius: 50px;
    color: #ffffff;
}

.button.turquoise {
    background-color: #00bcd4;
    transition: .3s;
}

.button.turquoise:hover,
.button.turquoise:focus {
    background-color: #009eb2;
}
