*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f1f4f3;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    margin: 0;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 90px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    align-items: center;
}

.site-navigation {

}

.site-navigation a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 45px;
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
}

.site-navigation a:focus,
.site-navigation a:hover {
    color: #009eb2;
}

.introduction {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/1.jpg) center no-repeat;
    background-size: cover;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 750px;
    margin: 50px 0 0 0;
}

.main-title span {
    font-weight: 200;
    max-width: 570px;
}

.main-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    max-width: 560px;
    margin-bottom: 65px;
}

.main-description::before {
    margin-bottom: 20px;
    display: block;
    content: "";
    height: 6px;
    border-radius: 1px;
    background-color: #5c5c70;
    width: 77px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    padding: 18px 40px;
    border-radius: 50px;
}

.button.turquoise {
    background-color: #00bcd4;
    transition: .3s;
}

.button.turquoise:hover,
.button.turquoise:focus {
    background-color: #009eb2;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    /* color: #ffffff; */
}

.section-title.about-us {
    margin: 100px 0;
}

.about-us-inner{
    display: flex;
    flex-direction: row;
}

.article-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 44px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    max-width: 500px;
    margin-bottom: 30px;
}

.about-us-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #707076;
    max-width: 400px;
    margin-bottom: 150px;
}

.about-us-article {
    display: flex;
    flex-direction: row;
}

.about-us-content {
    flex-direction: column;
    margin-left: 25px;
}

.about-us-article::before {
    display: inline-block;
    margin-top: 30px;
    content: "";
    height: 2px;
    border-radius: 1px;
    background-color: #5c5c70;
    width: 136px;
}

.extra-info {
    display: flex;
    background: #f2f2f2;
    height: 250px;
    align-items: center;
}

.extra-info-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.extra-info-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;;
    flex-grow: 1;
    height: 100%;
}

.extra-info-item:first-child {
    background: #363e3a;
}

.extra-info-item:nth-child(2) {
    background: #8253ab;
}

.extra-info-item:nth-child(3) {
    background: #00bcd4;
}

.extra-item-content {
    margin-top: 75px;
}

.extra-info-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    max-width: 380px;
}

.extra-info-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    max-width: 400px;
    margin-top: 20px;
    max-width: 300px;
}

.advantages {
    background-image: url(../img/pattern-background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
}

.section-title.adv {
    padding-top: 100px;
}

.section-title.adv::after {
    display: block;
    content: "";
    width: 90px;
    border-bottom: 1px solid #a1a1a1;
    margin: 25px auto;
}

.section-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #a1a1a1;
    max-width: 410px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 120px;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-item {
    display: inline-block;
    width: 240px;
    margin-bottom: 100px;
}

.advantages-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #46485c;
}

.advantages-title::before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 8px solid #f44336;
    border-right: 8px solid transparent;
    margin-bottom: 15px;
}

.advantages-description {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #5f727f;
    max-width: 170px;
    margin-top: 25px;
}

.adv-item-content {
    display: inline-block;
}